<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
         
      </head>

      <body>
             <h2 class="hedt1"> {{title}}  </h2>

             <div class="header1">
                 <a href="/"> HOME</a>
                 <a href="/check_weather"> Check weather</a>
                 <a href="/weather">Weather</a>
                 
             </div>

      </body>
</html>